/* app.css */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sevillana&family=Slabo+27px&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll; 
}

::-webkit-scrollbar {
    width: 16px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #9899e6; 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
